.container {
    height: 300px;
    perspective: 500px;
    position: relative;
    width: 200px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}

.card section {
    backface-visibility: hidden;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
}

form {
    font-size: 0.8em;
    padding: 10px;
}

.singup {
    transform: rotateY(180deg);
    right: 0;
}

label {
    display: block;
    font-weight: bold;
}

input {
    border: 1px solid #ccc;
    box-shadow: inset 2px 2px 2px #eee;
    font-size: 0.9em;
    padding: 2px 5px;
}

.flipped {
    transform: rotateY(180deg);
}